@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {margin:0;}

* {
    font-family: "Inter";
    cursor: default, auto;
    font-kerning: auto;
}

ul {
    cursor: default, auto;
    z-index: 999;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background-color: #70707079;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    cursor: default, auto;
}

li a {
    cursor: default, auto;
    z-index: 999;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Inter";
    font-size: 1.1em;
}

li a:hover:not(.active) {
    background-color: rgba(50,4,80,0.3);
}

li a:hover {
    cursor: default, auto;
    font-style: italic;
}

.active {
    background-color: rgba(134,12,200, 0.6);
}
.rightalign {
    float: right;
}
#clock {
    padding: 14px 16px;
}
p {
    font-family: "Inter";
    font-size: 1.1em;
}
button {
    font-family: "Inter";
    font-size: 1em;
}